<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjnu.system.mapper.CommentInfoMapper">

    <select id="countByBookId" resultType="java.lang.Integer">
        select count(A.id)
        from comment_info A
        where A.book_id = #{entity.id} and A.status = 1
    </select>

    <select id="listByBookId" resultType="com.tjnu.system.vo.CommentInfoVo">
        select <include refid="CommentInfoVo"/>
        from comment_info A
        LEFT JOIN user_info B on B.id = A.user_id
        where A.status = 1 and A.book_id = #{entity.id}
        order by A.create_time desc
    </select>

    <sql id="CommentInfoVo">
        A.id,
        B.nick_name,
        A.create_time,
        A.content
    </sql>

</mapper>
