<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjnu.system.mapper.UserInfoMapper">

    <select id="countByTable" resultType="java.lang.Integer">
        select count(A.id) from user_info A
    </select>

    <select id="listByTable" resultType="com.tjnu.system.entity.UserInfo">
        select <include refid="UserInfoVo"/>
        from user_info A
        where A.status = 1
        limit #{entity.offset}, #{entity.limit}
    </select>

    <select id="selectOneByEmail" resultType="com.tjnu.system.entity.UserInfo">
        select <include refid="UserInfoVo"/>
        from user_info A
        where A.status = 1 and A.email = #{email}
    </select>

    <sql id="UserInfoVo">
        A.id,
        A.username,
        A.nick_name,
        A.password,
        A.salt,
        A.email,
        A.phone,
        A.role,
        A.description
    </sql>

</mapper>
